[submodule "27MediaPlaybackAndBackgroundExecutionObjectiveCMRC"]
	path = 27MediaPlaybackAndBackgroundExecutionObjectiveCMRC
	url = git@github.com:c4arl0s/27MediaPlaybackAndBackgroundExecutionObjectiveCMRC.git
